@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --colorTitulo: hsl(218, 44%, 22%);
    --backColorMain: hsl(0, 0%, 100%);
    --backColorBody: hsl(212, 45%, 89%);
    --colorParagrafo: hsl(217, 21%, 34%);
}

body{
    background-color: var(--backColorBody);
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
main{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.107);
    background-color: var(--backColorMain);
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
div.qrCode{
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #C2E5F2, #88DFF2, #07B2D9);
}

img{
    display: block;
    margin: auto;
    
    width: 70%;
    padding: 40px 0px;
}
h2{
    color: var(--colorTitulo);
    text-align: center;
}
p{
    color: var(--colorParagrafo);
    text-align: center;
    margin: 30px 10px;
}